main {
  margin: 0 auto;
  text-align: center;
  width: 720px;
}

h1, .countdown-timer, .logo {
  margin: 50px 0;
}

h1 {
  font-size: 90px;
  font-weight: 800;
}

.countdown-timer {
  font-size: 72px;
  font-weight: 700;
}
