html {
  font-size: 12px;
}

body {
  background-color: #20122e;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
